# Use neovim
alias vim="nvim"

# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Always enable colored `grep` output
alias grep='grep --color=auto '

# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# copy file interactive
alias cp='cp -i'

# move file interactive
alias mv='mv -i'

# kubectl
alias k="kubectl"
alias tf="terraform"

# Azure subs
alias subprod="az account set --subscription e238329d-b62b-4551-8395-046f6fa66b28"
alias subtcs="az account set --subscription a5980719-95dc-405d-a853-a29e6946f1a6"

boop () {
    local last="$?"
    if [[ "$last" == '0' ]]; then
        # Success sound
        (afplay /System/Library/Sounds/Glass.aiff &>/dev/null &)
    else
        # Failure sound
        (afplay /System/Library/Sounds/Basso.aiff &>/dev/null &)
    fi
    $(exit "$last")
}

mkcd () {
  \mkdir -p "$1"
  cd "$1"
}